body {
  background-color: rgb(236, 196, 145);
  font-family: monospace;
  text-align: center;
}

.header {
  font-size: 30px;
  font-weight: bold;
}

.banana {
  color: #d36b00;
}

.bread {
  color: rgb(255, 255, 255);
}

img {
  width: 700px;
  height: auto;
}

.title1 {
  font-size: 25px;
}

.list-1 {
  list-style: none;
}
