body {
  background-color: rgb(236, 196, 145);
  font-family: monospace;
  text-align: center;
}

#title {
  text-align: center;
  font-size: 32px;
}

span {
  color: orange;
}

img {
  width: 900px;
  height: auto;
}

.list {
  font-size: 25px;
  font-weight: bold;
}
